<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'midia/favicon.ico' %}" type="image/x-icon">
    {% csrf_token %}
    <title>IBBMS</title>
</head>

<body>
{% csrf_token %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil">Meu perfil</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Administração</a>
                            </li>
                        </ul>
                            <ul class="navbar-nav px-3">
                                <li class="nav-item text-nowrap">
                                    <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                                </li>
                        </ul>
                        {% else %}
                        </ul>
                            <ul class="navbar-nav px-3">
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                            </li>
                        </ul>
                            <ul class="navbar-nav px-3">
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                            </li>
                        </ul>
                        {% endif %}
                </div>
        </nav>
    </header>
    {% if user.is_authenticated %}
        <h6></h6>
    {% else %}
        <h11>Logue-se ou Cadastre-se Para ver esta tela fogm´gjii0tjmgstegstrg</h11>
    {% endif %}
</body>
<style>

    h11 {
    background-color: white;
    width: 700px;
    heigth: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    }
    body {
        background: rgb(247,247,47);
        background: linear-gradient(90deg, rgba(247,247,47,1) 75%, rgba(182,207,4,1) 100%);
    }
    main {
    background-color: white;
    width: 700px;
    heigth: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    }
{% if user.is_authenticated %}
    </style>
    <main><h4>Olá {{ user }}</h4></main>
    <br>
    <main><h3>Suas Informações:</h3></main>
    <main><h4>Nome: {{ user.nome_completo }}</h4></main>
    <main><h4>Idade: {{ user.idade }}</h4></main>
    <main><h4>Cargo: {{ user.cargo }}</h4></main>
    <main><h4>Situação: {{ user.situacao }}</h4></main>
    <main><h4>Data de Aniversário: {{ user.niver }}</h4></main>
    <main><h4>Data de Conversão: {{ user.conversao }}</h4></main>
    <main><h4>Data de Batismo: {{ user.batismo }}</h4></main>
    <main><h4>Endereço: {{ user.Localizacao }}</h4></main>
    <main><h4>Telefone: {{ user.telefone }}</h4></main>
{% else %}
    <h11></h11>
{% endif %}



    <main1 class="container">
        {% block content %}
        {% endblock %}
    </main1>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>
</html>