<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>RELATÓRIO FINANCEIRO - 2021</title>
</head>
<body>
    <style>
        h1{
            font-size: 20px;
            text-align: center;
        }
        h2{
            font-size: 20px;
        }
        body{
            background-color: rgb(57, 59, 59);
            
        }
        main{
            background-color: white;
            box-shadow: 5px 5px 5px;
            width: 900px;
            margin: auto;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
    <br><br><br>
    <main>
        <h1>RELATÓRIO FINANCEIRO - IBBMS 2021</h1>
        <br>
        <h2>
            {% for dizimo in object_list %}
                <tr>
                    <td>{{ dizimo.usuario }} - </td>
                    <td>{{ dizimo.data_entrada }}</td><br>
                </tr>
            {% empty %}

                <td colspan="3">Ainda Não tenho registros de Entrada!</td>

            {% endfor %}
            <br><br>
            <h2>Total de Entradas: </h2>
    </main>
</body>
</html>