<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Capitulo 1</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Meu perfil</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administração</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                            </li>
                    </ul>
                    {% else %}
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
    </nav>
</head>

<body>
    <style>
    body{
        background: rgb(94,204,85);
        background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); color: white;}

        main{
            background-color: white;
            width: auto;
            heigth: 600px;
            margin-left: 35px;
            margin-right: 35px;
            padding: 15px;
            box-shadow: 6px 6px 10px black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            border-radius: 15px;
            color: black;
        }
    </style>
        <br><br><br><br>
        <main>
            <h2 style="font-weight: bold;">ARTIGO 1º</h2> <br>
            <p>A IGREJA BATISTA BÍBLICA MONTE DE SIÃO, 
               DORAVANTE NESTE ESTATUTO DENOMINADA IGREJA, 
               PESSOA JURÍDICA DE DIREITO PRIVADO, 
               É UMA ORGANIZAÇÃO RELIGIOSA, SEM FINS LUCRATIVOS, 
               CONSTITUÍDA POR TEMPO INDETERMINADO, 
               COM SEDE E FORO NA CIDADE DE SIMÕES FILHO- BAHIA, 
               RUA FEIRA DE SANTANA, NÚMERO 100E, BAIRRO CRISTO REI. 
               COMPOEM-SE DE UM NÚMERO ILIMITADO DE MEMBROS, 
               SEM DISTINÇÃO DE SEXO, IDADE, COR, NACIONALIDADE, 
               TENDO SIDO ORGANIZADA EM 03 DE DEZEMBRO DE 1994,</p>
               <br><br>
               <h2 style="font-weight: bold;">ARTIGO 2º</h2> <br>
            <p>A IGREJA RECONHECE E PROCLAMA JESUS CRISTO COMO SEU ÚNICO SALVADOR 
               E SENHOR, ACEITA A BÍBLIA SAGRADA COMO ÚNICA REGRA DE FÉ E PRÁTICA, 
               E ADOTA A DECLARAÇÃO DOUTRINÁRIA EXPLICITADA NO DOCUMENTO 
               ENCARTADO DO REGIMENTO INTERNO APROVADO PELA IGREJA.</p>
               <br><br>
               <h2 style="font-weight: bold;">ARTIGO 3º</h2> <br>
            <p>A IGREJA TEM AS SEGUINTES FINALIDADES: <br>
                <br>
                I-REUNIR-SE, REGULARMENTE, PARA PRESTAR CULTO A DEUS E PROCLAMAR A MENSAGEM DO EVANGELHO DE JESUS CRISTO, <br>
                <br>
                II- ESTUDAR AS SAGRADAS ESCRITURAS, VISANDO O DOUTRINAMENTO E A EDIFICAÇÃO ESPIRITUAL DE SEUS MEMBROS, <br>
                <br>
                III-MANTER A COMUNHÃO ENTRE OS SEUS CONGREGADOS E MEMBROS, NOS TERMOS DOS PRECEITOS DO EVANGELHO; <br>
                <br>
                IV- PREGAR O EVANGELHO DE JESUS CRISTO, PARA A SALVAÇÃO DE TODO AQUELE QUE CRÊ. <br>
                <br>
                V- CONDUZIR OS SEUS MEMBROS E CONGREGADOS A VIVER DE UMA FORMA SADIA, MORAL E ETICAMENTE NOS TERMOS DOS PADRÕES E ENSINAMENTOS DA PALAVRA DE DEUS, A BÍBLIA SAGRADA.</p>
               <br><br>
               <h2 style="font-weight: bold;">ARTIGO 4º</h2> <br>
            <p>A IGREJA É AUTÔNOMA E SOBERANA EM SUAS DECISÕES, 
               NÃO ESTANDO SUJEITA A QUALQUER OUTRA IGREJA, 
               INSTITUIÇÃO OU AUTORIDADE ECLESIÁSTICA.</p>
               <br><br>
               <h2 style="font-weight: bold;">ARTIGO 5º</h2> <br>
            <p> A IGREJA DEVE TER UM REGIMETO INTERNO 
                APROVADO PELA ASSEMBLÉIA GERAL COM ESTREITA 
                OBSERVÂNCIA ÀS NORMAS CONTIDAS NESTE ESTATUTO.</p>
               <br><br>
               <h2 style="font-weight: bold;">ARTIGO 6º</h2> <br>
            <p> A IGREJA PODERÁ CRIAR, QUANDO JULGAR NECESSÁRIO, 
                NOVAS ÁREAS DE TRABALHO, OUTROS ORGÃOS, 
                BEM COMO DEPARTAMENTOS E COMISSÕES PERMANENTES, 
                CUJAS ESTRUTURAS E FINALIDADES SERÃO 
                DEFINIDAS NO REGIMENTO INTERNO.</p>
               <br><br>
               <a href="/estatuto">
                    <button type="button" class="btn btn-primary">Voltar</button>
                </a>
                <a href="/estatuto/2">
                    <button type="button" class="btn btn-primary">Proximo capítulo</button>
                </a>
               
        </main>
    
<br><br><br><br>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>
</html>