<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Capitulo 5</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Meu perfil</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administração</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                            </li>
                    </ul>
                    {% else %}
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
    </nav>
</head>

<body>
    <style>
    body{
        background: rgb(94,204,85);
        background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); color: white;}
    </style>
    
<br><br><br><br>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>
</html>