<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Capitulo 11</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Meu perfil</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administração</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                            </li>
                    </ul>
                    {% else %}
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
    </nav>
</head>

<body>
    <style>
    body{
        background: rgb(94,204,85);
        background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); color: white;}

        main{
            background-color: white;
            width: auto;
            heigth: 600px;
            margin-left: 35px;
            margin-right: 35px;
            padding: 15px;
            box-shadow: 6px 6px 10px black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            border-radius: 15px;
            color: black;
        }
    </style>
        <br><br><br><br>
        <main>
            <h2 style="font-weight: bold;">ARTIGO 37º</h2> <br>
            <strong>DISPOSIÇÕES GERAIS</strong> <br>
            <br>
            <p>
                A IGREJA NÃO RESPONDE PELAS OBRIGAÇÕES ASSUMIDAS POR SEUS MEMBROS <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 38º</h2> <br>
            <br>
            <p>
                A IGREJA NÃO CONCEDERÁ AVAIS OU FIANÇAS, NEM ASSUMIRÁ QUAISQUER OBRIGAÇÕES ESTRANHAS À SUA FINALIDADE. <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 39º</h2> <br>
            <br>
            <p>
                A IGREJA SÓ PODERÁ SER DSSOLVIDA PELA ASSEMBLEIA GERAL EXTRAORDINÁRIA, 
                QUANDO NÃO ESTIVER CUMPRINDO, RECONHECIDAMENTE, AS SUAS FINALIDADES, 
                OBSERVADO O DISPOSTO NOS ARTIGOS 2º E 3º DESTE ESTATUTO. <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 40º</h2> <br>
            <br>
            <p>
                NA HIPÓTESE DE DISSOLUÇÃO DA IGREJA, O PATRIMÔNIO LÍQUIDO
                SERÁ DESTINADO A UMA ASSOCIAÇÃO CONGÊNERE. <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 41º</h2> <br>
            <br>
            <p>
                OS ARTIGOS OMISSOS NO PRESENTE ESTATUTO SERÃO
                RESOLVIDOS PELA ASSEMBLÉIA GERAL EXTRAORDINÁRIA. <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 42º</h2> <br>
            <br>
            <p>
                ESTE ESTATUTO ENTRARÁ EM VIGOR APÓS O SEU REGISTRO 
                NO CARTÓRIO DAS PESSOAS JURÍDICAS, E SÓ PODERÁ SER R
                EFORMADO PELA ASSEMBLEIA GERAL EXTRAORDINÁRIA, 
                ESPECIALMENTE CONVOCADA PARA ESTE FIM, OBSERVADAS 
                AS CONDIÇÕES E EXIGENCIAS PREVISTASN 
                NO ARTIGO 17º § 1º E § 2º. <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 43º</h2> <br>
            <br>
            <p>
                O EXERCÍCIO FISCAL TERMINARÁ EM 31 DE DEZEMBRO
                DE CADA ANO, NOS TERMOS DA PREVIDÊNCIA SOCIAL E IMPOSTO DE RENDA. <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 44º</h2> <br>
            <br>
            <p>
                A IGREJA BATISTA BÍBLICA MONTE DE SIÃO, 
                POR DESEJO PRÓPRIO, É MEMBRO DA COMUNHÃO 
                BATISTA BÍBLICA DA BAHIA, COM A QUAL MANTÉM COOPERAÇÃO 
                PARA DESENVOLVIMENTO DA SUA FINALIDADE. <br>
            </p>
            <br>
            <br><br>
            <a href="/estatuto/10">
                <button type="button" class="btn btn-primary">Capítulo anterior</button>
            </a>
            <a href="/estatuto/12">
                <button type="button" class="btn btn-primary">Proximo capítulo</button>
            </a>
        </main>
    
<br><br><br><br>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>
</html>