<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Capitulo 2</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Meu perfil</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administração</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                            </li>
                    </ul>
                    {% else %}
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
    </nav>
</head>
<body>
    <style>
        body{
            background: rgb(94,204,85);
            background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); color: white;}
    
            main{
                background-color: white;
                width: auto;
                heigth: 600px;
                margin-left: 35px;
                margin-right: 35px;
                padding: 15px;
                box-shadow: 6px 6px 10px black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 25px;
                border-radius: 15px;
                color: black;
            }
        </style>
            <br><br><br><br>
            <main>
                <p style="font-weight: bold;"> DOS MEMBROS DA IGREJA, ADMISSÃO, TRANSFERÊNCIA E DESLIGAMENTO </p>
                <h2 style="font-weight: bold;">ARTIGO 7º</h2> <br>
                <p>A IGREJA É COSNTITUÍDA DE PESSOAS QUE PROFESSAM
                   A SUA FÉ EM JESUS CRISTO COMO ÚNICO SENHOR E SALVADOR, 
                   E ACEITAM AS DOUTRINAS BÍBLICAS POR ELADEFENDIDAS E ENSINADAS.</p>
                   <br><br>
                   <h2 style="font-weight: bold;">ARTIGO 8º</h2> <br>
                <p>PODERÃO SER ADMITIDAS NO QUADRO DE MEMBROS DA IGREJA
                   ( ATRAVÉS DA PROFISSÃO PÚBLICA DE FÉ E BATISMO, 
                   CARTA DE TRANSFERENCIA ORIUNDAS DE IGREJAS BATISTAS DA MESMA FÉ E ORDEM), 
                   RECONCILIAÇÃO E AINDA POR ACLAMAÇÃO), AS PESSOAS DE AMBOS OS SEXOS, 
                   DE QUALQUER NACIONALIDADE, RAÇA, CONDIÇÃO SOCIAL OU POLÍTICA QUE: <br>
                   <br>
                    A) ACEITEM VOLUNTARIAMENTE E SEM QUALQUER CONTESTAÇÃO AS DOUTRINAS BÍBLICAS DA IGREJA; <br>
                    <br>
                    B) TENHAM O ESTADO CIVIL REGULARIZADO, DESDE QUE ESTEJAM ACORDES COM O ART. 7º DESTE ESTATUTO; <br>
                    <br>
                    C) ACEITEM A BÍBLIA COMO ÚNICA REGRA DE FÉ E PRÁTICA; <br>
                    <br>
                    D) ACEITEM A DISCIPLINA DA IGREJA COM BOM TESTEMUNHO PÚBLICO; <br>
                    <br>
                    E) ACEITEM A DECLARAÇÃO DOUTRINÁRIA NOS TERMOS DO ARTIGO 2º;  <br>
                    <br>
                    F) SEJAM BATIZADOS BIBLICAMENTE POR IMERSÃO; DEVERÃO SER BATIZADAS, PESSOAS VINDAS DE OUTRAS" IGREJAS" QUE NÃO SEJAM BATISTAS FUNDAMENTALISTAS. <br>
                    <br>
                    $1º SERÃO READMITIDOS NO ROL DE MEMBROS, AQUELES QUE ATENDEREM AS EXIGENCIAS DAS ALÍNEAS DE "A' a "F" DO PRESENTE ARTIGO, E TENHAM SOLICITADO PERANTE A ASSEMBLÉIA, QUE APRECIARÁ E DELIBERARA SOBRE O ASSUNTO. <br>
                    <br>
                    $2º SOMENTE SERÃO ADMITIDAS NA CONDIÇÃO DE MEMBROS AS PESSOAS QUE FOREM ACEITAS POR MAIORIA DE VOTOS DOS MEMBROS PRESENTES NA ASSEMBLÉIA. <br>
                </p>
                   <br><br>
                   <h2 style="font-weight: bold;">ARTIGO 9º</h2> <br>
                <p>
                    OS CASOS ESPECIAIS NÃO CONSTANTES NESTE ARTIGO SERÃO DECIDIDOS PELA IGREJA EM ASSEMBÉIA GERAL.
                </p>
                   <h2 style="font-weight: bold;">ARTIGO 10º</h2> <br>
                <p>PERDERÁ A CONDIÇÃO DE MEMBRO DA IGREJA AQUELE QUE FOR DESLIGADO POR DECISÃO DA ASSEMBLÉIA GERAL, NOS SEGUINTES CASOS: <br>
                    <br>
                    A) FALECIMENTO <br>
                    <br>
                    B) TRANSFERÊNCIA PARA OUTRA IGREJA BATISTA DE MESMA FÉ E ORDEM ( FUNDAMENTALISTA) <br>
                    <br>
                    C) SOLICITAÇÃO, POR ESCRITO, DO SEU DESLIGAMENTO E/OU EXCLUSÃO DO ROL DE MEMBROS. <br>
                    <br>
                    D) INFRAÇÃO DOS PRINCIPIOS ÉTICOS, MORAIS E DA BOA CONDUTA, DEFENDIDOS PELA IGREJA, COM FUNDAMENTO DAS SAGRADAS ESCRITURAS. <br>
                    <br>
                    E) ABANDONO AS REUNIÕES DA IGREJA ( CULTOS) SEM QUALQUER JUSTIFICATIVA POR PERÍODO IGUAL OU EXCEDENTE A TRÊS MESES CONSECUTIVOS; OS QUE FALTAREM TAMBÉM JUSTIFICATIV AS ASSEMBLÉIAS GERAIS POR SEIS MESES DURANTE O ANO. <br>
                    <br>
                    F) DEFESA OU PROFISSÃO DE DOUTRINAS E/OU PRÁTICAS QUE CONTRARIEM A DECLARAÇÃO DOUTRINÁRIA DA IGREJA; <br>
                    <br>
                    G) INSISTENCIA EM DOUTRINAS FALSAS. <br>
                    <br>
                    §1º OS INCISOS NAS LETRAS C, D,E,F,G DESTE ARTIGO, 
                    SERÃO VISITADOS, E EXORTADOS A SE ARREPENDEREM. 
                    EM ASSEMBLÉIA GERAL EXTRAORDINÁRIA, 
                    SERÁ POSTO EM DISCIPLINA CORRETIVA POR UM 
                    PERÍODO MÍNIMO DE 06 ( SEIS) MESES, SENDO 
                    AFASTADO DAS FUNÇÕES QUE OCUPA, PODENDO SER 
                    SUPERIOR A ESTE PERÍODO, CONFORME A IGREJA DECIDA. 
                    SE AINDA DEPOIS DESTE PROCEDIMENTO, O TAL ESTIVER 
                    VERDADEIRAMENTE ARREPENDIDO, EM ASSEMBLÉIA EXTRAORDINÁRIA, 
                    SERÁ RETIRADO DA DISCIPLINA, PODENDO VOLTAR AS SUAS FUNÇÕES. 
                    MAS, SE DEPOIS DESTE PROCEDIMENTO, O TAL AINDA PERMANECER 
                    EM SUA DUREZA, ENTÃO SERÁ DESLIGADO DO ROL DE MEMBROS.
                    <br><br><br>
                    §2º NENHUM MEMBRO OU QUALQUER QUE DEIXAR DE SER MEBRO 
                    DA IGREJA NÃO TERÁ DIREITO A BEM ALGUM OU DIREITO PATRIMONIAL, 
                    OU DE QUALQUER NATUREZA, BEM COMO NÃO TERÁ QUALQUER 
                    OBRIGAÇÃO PARA COM A IGREJA NO QUE DIZ RESPEITO 
                    A PARTICIPAÇÃO DE SEUS PRÓPRIOS BENS, SENDO TAMBÉM 
                    VEDADA A QUALQUER MEMBRO QUE FOR EXCLUÍDO, A CONDIÇÃO 
                    DE APRESENTAR QUALQUER SOLICITAÇÃO OU DEVOLUÇÃO DE 
                    OFERTAS, COLETAS, CONTRIBUIÇÕES VOLUNTÁRIAS OU DOS 
                    DÍZIMOS E QUAISQUER OUTRAS CONTRIBUIÇÕES QUE TENHAM 
                    EFETUADO DURANTE O LAPSO DE TEMPO QUE PERMANECEU 
                    NA CONDIÇÃO DE MEMBRO DA IGREJA
                    <br><br><br>
                    §3º O EXCLUÍDO, QUE SE JULGAR INJUSTIÇADO, TERÁ AMPLO DIREITO DE DEFESA,
                    PODENDO INTERPOR RECURSO À ASSEMBLÉIA GERAL NO PRAZO DE 15 (QUINZE) DIAS.
                </p>
                   <br><br>
                   <a href="/estatuto/1">
                        <button type="button" class="btn btn-primary">Voltar</button>
                    </a>
                    <a href="/estatuto/3">
                        <button type="button" class="btn btn-primary">Proximo capítulo</button>
                    </a>
                   
            </main>
        
    <br><br><br><br>
    
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Select2 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    </body>
    </html>