<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Capitulo 4</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Meu perfil</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administração</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                            </li>
                    </ul>
                    {% else %}
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
    </nav>
</head>

<body>
    <style>
    body{
        background: rgb(94,204,85);
        background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); color: white;}

        main{
            background-color: white;
            width: auto;
            heigth: 600px;
            margin-left: 35px;
            margin-right: 35px;
            padding: 15px;
            box-shadow: 6px 6px 10px black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            border-radius: 15px;
            color: black;
        }
    </style>
        <br><br><br><br>
        <main>
            <h2 style="font-weight: bold;">ARTIGO 13º</h2> <br>
            <strong>DA ASSEMBLÉIA GERAL</strong> <br>
            <br>
            <p>
                A ASSEMBLEIA GERAL, CONSTITUÍDA PELOS MEMBROS DA IGREJA, É O SEU PODER SOBERANO, CABENDO-LHE AS SEGUINTES ATRIBUIÇÕES: <br>
                <br>
                I - ELEGER E EXONERAR O PASTOR TITULAR: <br>
                <br>
                II - ELEGER E OS MEMBROS DA DIRETORIA, BEM COMO OS DIRETORES DE OUTROS DEPARTAMENTOS DA IGREJA; <br>
                <br>
                § 1º - NINGUÉM AUSENTE PODERÁ SER ELEITO, A MENOS QUE TENHA ENVIADO UMA SOLICITAÇÃO POR ESCRITO, FALANDO DO DESEJO DE CONCORRER A QUAL CARGO. <br>
                <br>
                III - APROVAR OS ORÇAMENTOS PERIÓDICOS E ANUAIS; <br>
                <br>
                IV - ALIENAR POR VENDA OU DE OUTRA FORMA, BEM COMO ONERAR TOTAL OU PARCIALMENTE O PATRIMONIO DA IGREJA; <br>
                <br>
                VI - ACEITAR DOAÇÕES E LEGADOS; <br>
                <br>
                VII - TRANSFERIR A SEDE DA IGREJA; <br>
                <br>
                IX - REFORMAR O ESTATUTO; <br>
                <br>
                X - DELIBERAR SOBRE A DISSOLUÇÃO DA IGREJA: <br>
                <br>
                XI - TOMAR OUTRAS DECISÕES, QUE ENVOLVAM ASPECTOS ADMINISTRATIVOS, ECLESIÁSTICOS E DOUTRINÁRIOS; <br>
                <br>
                XII - RESOLVER OS CASOS OMISSOS NESTE ESTATUTO. <br>
                <br>
            </p>
                <br>
                <h2 style="font-weight: bold;">ARTIGO 14º</h2>
            <br>
            <p>
            A  ASSEMBLÉIA GERAL DA IGREJA REUNIR-SE-Á ORDINÁRIA E EXTRAORDINARIAMENTE. <br>
                <br>
            </p>
            </p>
                <br>
                <h2 style="font-weight: bold;">ARTIGO 15º</h2>
            <br>
            <p>
                A PERIODICIDADE DA ASSEMBLÉIA GERAL ORDINÁRIA SERÁ NO SEGUNDO DOMINGO DE CADA MÊS, SENDO A EXTRAORDINÁRIA CONVOCADA, QUANDO SE FIZER NECESSÁRIO. <br>
            <br>
            </p>
            </p>
                <br>
                <h2 style="font-weight: bold;">ARTIGO 16º</h2>
            <br>
            <p>
                A ASSEMBLÉIA GERAL EXTRAORDINÁRIA SERÁ CONVOCADA PELO PRESIDENTE OU SEU SUBSTITUTO, COM ANTECEDÊNCIA MÍNIMA DE 07 (SETE) DIAS. <br>
            <br>
            <br>
            </p>
            </p>
            <br>
                <h2 style="font-weight: bold;">ARTIGO 17º</h2>
            <br>
            <p>
                A ASSEMBLÉIA GERAL EXTRAORDINÁRIA SERÁ REALIZADA COM QUORUM DE 1/3( UM TERÇO) DOS MEMBROS DA IGREJA EM PRIMEIRA CONVOCAÇÃO, E DE QUALQUER NÚMERO, EM SEGUNDA CONVOCAÇÃO, 30 (TRINTA) MINUTOS APÓS, SENDO AS DECISÕES TOMADAS PELO VOTO FAVORÁVEL DA MAIORIA ABSOLUTA, EXCETO NAS SITUAÇÕES ESPECIAIS, PREVISTAS NESTE ESTATUTO. <br>
            <br>
            <br>
                <p>§ 1º NOS CASOS DE: ELEIÇÃO OU EXONERAÇÃO DO PASTOR, DOS MEMBROS DA DIRETORIA, DO CONSELHO FISCAL, DA ALIENAÇÃO DA SEDE DA IGREJA E DA REFORMA DO PRESENTE ESTATUTO, O QUORUM DEVERÁ SER DE 2/3 DOIS TERÇOS) DOS MERROS DA IGREJA EM PRIMEIRA CONVOCAÇÃO, DA METADE E MAIS UM EM SEGUNDA CONVOCAÇÃO, SETE DIAS APOS, E DE 1/3 (UM TERÇO), EM TERCEIRA CONVOCAÇÃO TAMBEM SETE DIAS APÓS</p> <br>
            </p>
            <p>
                § 2º AS DECISÕES SOBRE ASSUNTOS A QUE SE REFERE AO PARÁGRAFO 1º SERÃO TOMADAS PELO VOTO FAVORÁVEL DE 2/3 (DOIS TERÇOS) DOS PRESENTES A ASSEMBLEIA GERAL EXTRAORDINARIA <br>
            </p>
            <br>
            <p> § 3º PARA DELIBERAR SOBRE A DISSOLUÇÃO DA IGREJA, SEMA NECESSARIO QUE, EM DUAS ASSEMBLEIAS EXTRAORDINÁRIAS, 80% OITENTA POR CENTO) DOS SEUS MEMBROS VOTEM A FAVOR, OBSERVANDO-SE O INTERVALO DE 3 (TRES) MESES ENTRE CADA UMA DAS ASSEMBLEIAS. A CONVOCAÇÃO DAS ASSEMBLEIAS DEVE SER FEITA EXPRESSAMENTE PARA ESSE FIM, COM AMPLA PUBLICIDADE, INCLUSIVE PELA IMPRENSA, ATRAVÉS DE JORNAL DE MAIOR CIRCULÇÃO LOCAL, OBSERVANDO-SE A ANTECEDENCIA DE 30 DIAS.</p> <br>
            <br>
            <p> § 4º EM QUALQUER DELIBERAÇÃO, O RESULTADO FINAL DA VOTAÇÃO DEVERÁ SER FIEL E INTEGRALMENTE REGISTRADO EM ATA.</p> <br>
            <br>
            <p> § 5º NA APRECIAÇÃO DOS ASSUNTOS LEVADOS PELO PLENÁRIO DE SUAS ASSEMBLEIAS, A IGREJA ADOTARÁ AS REGRAS CONSTANTES EM SEU REGIMENTO INTERNO.</p> <br>
            <br>
            <p> § 6º OS MEMBROS DA IGREJA, QUE PARTICIPAM DE CONGREGAÇÕES DISTANTES, SE TIVEREM PRESENTES NAS ASSEMBLÉIAS ORDINÁRIAS E EXTRAORDINÁRIAS E AJUSTADOS AS EXIGENCIAS DESTE ESTATUTO, TAMBÉM PODERÃO VOTAR.</p> <br>
            <br><br>
            <a href="/estatuto/3">
                <button type="button" class="btn btn-primary">Voltar</button>
            </a>
            <a href="/estatuto/5">
                <button type="button" class="btn btn-primary">Proximo capítulo</button>
            </a>
        </main>
    
<br><br><br><br>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>
</html>