<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Capitulo 8</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Meu perfil</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administração</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                            </li>
                    </ul>
                    {% else %}
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
    </nav>
</head>

<body>
    <style>
    body{
        background: rgb(94,204,85);
        background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); color: white;}

        main{
            background-color: white;
            width: auto;
            heigth: 600px;
            margin-left: 35px;
            margin-right: 35px;
            padding: 15px;
            box-shadow: 6px 6px 10px black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            border-radius: 15px;
            color: black;
        }
    </style>
        <br><br><br><br>
        <main>
            <h2 style="font-weight: bold;">ARTIGO 30º</h2> <br>
            <strong>DOS MINISTÉRIOS</strong> <br>
            <br>
            <p>
                O MINISTÉRIO PASTORAL SERÁ EXERCIDO, COMO PRECEITUADO NA BÍBLIA SAGRADA. <br>
                <br>
                § 1º QUANTO AO PASTOR, ELE PODERÁ RECEBER OFERTAS MENSAIS, SE ELE FOR PASTOR
                DE TEMPO INTEGRAL DESTA IGREJA CABERÁ A IGREJA, PAGAR O SEU INSS COMO AUTÔNOMO, 
                CONFORME AGRADE A TODOS, DAR FÉRIAS SEMPRE EM DESCANSO E NUNCA EM OFERTA, 
                NÃO TENDO DIREITO AO ABONO DE FIM DE ANO, A MENOS QUE A IGREJA POSSA E QUEIRA FAZÊ-LO. 
                ELE NÃO SERÁ UM EMPREGADO DA IGREJA, MAS UM SERVIDOR DA IGREJA A REMUNERAÇÃO DO PASTOR, 
                SERÁ EXCLUSIVAMENTE EM DECORRÊNCIA DE SUAS ATIVIDADES MINISTERIAIS. <br>
                <br>
                § 2º AS DEMAIS ATRIBUIÇÕES DO PASTOR ESTÃO DEFINIDAS NO REGIMENTO INTERNO.
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 31º</h2> <br>
            <br>
            <p>
                SE A IGREJA ESTIVER SEM PASTOR, A IGREJA DEVE FAZER NOVAGÊNCIA DE CARGOS.
                A IGREJA DEVE EM ASSEMBLÉIA REGULAR OU EXTRAORDINÁRIA, 
                PREENCHER O CARGO DE PRESIDENTE, PARA QUE A IGREJA NÃO SOFRA SOLUÇÃO 
                DE CONTINUIDADE DE SUA ADMINISTRAÇÃO. <br>
                <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 32º</h2> <br>
            <br>
            <p>
                NA AUSÊNCIA DO PASTOR, O MESMO SERÁ SUSSTITUÍDO PELO. 
                1º VICE PRESIDENTE, QUE SERÁ SUBSTITUÍDO 
                PELO 2º VICE PRESIDENTE, QUE SERÁ SUBSTITUIDO 
                PELOS DIÁCONOS. <br>
                <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">ARTIGO 33º</h2> <br>
            <br>
            <p>
                A IGREJA PODERÁ CONTAR COM DEPARTAMENTOS INTERNOS, 
                QUE SERÃO PARTES INTEGRANTES DA IGREJA E NÃO UMA ENTIDADE EM SI MESMO, 
                CUJAS OBRAS, OBJETIVOS E ALVOS DEVEM SER O DE ASSISTIR A IGREJA 
                NO DESEMPENHAR DE SUA FINALIDADE CADA UM DESTES DEPARTAMENTOS 
                PODE TER SEUS DIRETORES. <br>
                <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">PARÁGRAFO 1º</h2> <br>
            <br>
            <p>
                OS DEPARTAMENTOS SÓ PODERÃO SER CRIADOS EM ASSEMBLÉIA. <br>
                <br>
            </p>
            <br>
            <h2 style="font-weight: bold;">PARÁGRAFO 2º</h2> <br>
            <br>
            <p>
                CADA DEPARTAMENTO TERÁ SEU DIRETOR, COMO INTEGRANTE DO CONSELHO ADMINISTRATIVO DA IGREJA. <br>
                <br>
            </p>
            <br>
            <br><br>
            <a href="/estatuto/7">
                <button type="button" class="btn btn-primary">Voltar</button>
            </a>
            <a href="/estatuto/9">
                <button type="button" class="btn btn-primary">Proximo capítulo</button>
            </a>
        </main>
    
<br><br><br><br>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>
</html>