<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% csrf_token %}
    <title>Inicio</title>
</head>

<body>
{% csrf_token %}
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark mb-3" id="navbari">
            <div class="container">
                <a class="navbar-brand" href="{% url 'pages:home' %}">IBBMS</a>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil">Meu Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Administração</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Cadastro</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% if user.is_authenticated %}
        <h6></h6>
    {% else %}
        <style>
            body{
                background: rgb(94,204,85);
                background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%);
            }
        </style>
        <div class="card text-center" id="card1">
            <div class="card-header">
              Entrar Ou Cadastrar
            </div>
            <div class="card-body">
              <h5 class="card-title">IBBMS</h5>
              <p class="card-text">Aqui Você Pode Criar sua Nova conta Ou Fazer seu Login!</p>
              <a href="/accounts/login/" class="btn btn-primary">Fazer Login</a>
              <a href="/accounts/signup/" class="btn btn-primary">Fazer o Castro</a>
            </div>
            <div class="card-footer text-muted">
              IBBMS
            </div>
          </div>
    {% endif %}
</body>
<style>

    h11 {
    background-color: white;
    width: 700px;
    heigth: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
    }

    main {
    background-color: white;
    width: 1000px;
    heigth: 900px;
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-top-right-radius: 30px;
    border-end-start-radius: 30px;
    text-align: center;
    }
    h2{
    background-color: white;
    width: 250px;
    height: 100px;
    margin: auto;
    padding: 10px;
    box-shadow: 6px 6px 10px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 10px;
    text-align: left;
    color: black;
    }
    h4{
        font-size: 40px;
        font-weight: bolder;
    }
    #dv1{
        display: inline-block

    }
    #dv2{
        display: inline-block
    }
    #dv3{
        display: inline-block
    }
    #dv8{
        display: inline-block
    }
    #card1{
        width: 600px;
        margin: auto;
        box-shadow: 6px 6px 10px black;
        border-radius: 25px;
    }
    body{
        background-color: whitesmoke
    }
    


</style>

{% if user.is_authenticated %}

        <div id="carouselSite" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
                <li data-target="#carouselSite" data-slide-to="1" class="active"></li>
                <li data-target="#carouselSite" data-slide-to="2" class="active"></li>
                <li data-target="#carouselSite" data-slide-to="3" class="active"></li>
                <li data-target="#carouselSite" data-slide-to="4" class="active"></li>
            </ol>

            <div class="carousel-inner">

                <div class="carousel-item active">

                    <img src="{% static 'midia/baner1.png' %}" alt="ft" class="img-fluid d-block">

                </div>

                <div class="carousel-item">

                    <img src="{% static 'midia/baner5.png' %}" alt="ft" class="img-fluid d-block">

                </div>

                <div class="carousel-item">

                    <img src="{% static 'midia/baner4.png' %}" alt="ft" class="img-fluid d-block">

                </div>

                <div class="carousel-item">

                    <img src="{% static 'midia/baner6.png' %}" alt="ft" class="img-fluid d-block">

                </div>

                <div class="carousel-item">

                    <img src="{% static 'midia/baner7.png' %}" alt="ft" class="img-fluid d-block">

                </div>


            </div>
            
            <a href="#carouselSite" class="carousel-control-prev" role="button" data-slide="prev">

                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Anterior</span>

            </a>
            
            <a href="#carouselSite" class="carousel-control-next" id="carouselSite" role="button" data-slide="next">

                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Proximo</span>

            </a>

        </div>

        <br><br><br>
         <p style="font-size: 25px; font-weight: bolder; padding: 10px; font-family: Arial, Helvetica, sans-serif; background: rgb(94,204,85);
         background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); color: white;", >Olá {{ user }} Bem-Vindo!<br> Este é um site de Administração, para menbros da IBBMS!<br>
        Aqui é possivel acompanhar os assuntos da Assembleia,<br> Ver E Editar seus dados e Muito Mais!!<br>
        Esperamos que aproveite! IBBMS</p>  
        <hr>
        

        {% if user.groups.all.0.name == 'DIREITORIA' %}
            <br><br><br><br>
            <div class="card" style="width: 18rem;" id="dv1">
                <img src="{% static 'midia/arquivosp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Patrimônio</h5>
                <p class="card-text">Aqui você pode ver, o total Patrimônio da IBBMS, saber a condição dos itens e fazer Observações!</p>
                <a href="/patrimonio" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv2">
                <img src="{% static 'midia/dpessoa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Meus Dados</h5>
                <p class="card-text">Aqui você pode Adicionar e Alterar e Atualizar seus Dados em nosso Sistema de maneira Bem Simples!</p>
                <a href="/informacoes" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv8">
                <img src="{% static 'midia/ata.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Relatorios</h5>
                <p class="card-text">Aqui você pode acompanhar as atas de Assembleias passadas na IBBMS!</p>
                <a href="/atas" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>
        
        {% else %}
            <h1></h1>
        {% endif %}


        {% if user.groups.all.0.name == 'SECRETARIA' %}
            <br><br><br><br>
            <div class="card" style="width: 18rem;" id="dv1">
                <img src="{% static 'midia/arquivosp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Patrimônio</h5>
                <p class="card-text">Aqui você pode ver, o total Patrimônio da IBBMS, saber a condição dos itens e fazer Observações!</p>
                <a href="/patrimonio" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv2">
                <img src="{% static 'midia/dpessoa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Meus Dados</h5>
                <p class="card-text">Aqui você pode Adicionar e Alterar e Atualizar seus Dados em nosso Sistema de maneira Bem Simples!</p>
                <a href="/informacoes" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv8">
                <img src="{% static 'midia/ata.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Relatorios</h5>
                <p class="card-text">Aqui você pode acompanhar as atas de Assembleias passadas na IBBMS!</p>
                <a href="/atas" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>
        
        {% else %}
            <h1></h1>
        {% endif %}


        {% if user.groups.all.0.name == 'TESOREIRA' %}
            <br><br><br><br>
            <div class="card" style="width: 18rem;" id="dv1">
                <img src="{% static 'midia/arquivosp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Patrimônio</h5>
                <p class="card-text">Aqui você pode ver, o total Patrimônio da IBBMS, saber a condição dos itens e fazer Observações!</p>
                <a href="/patrimonio" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv2">
                <img src="{% static 'midia/dpessoa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Meus Dados</h5>
                <p class="card-text">Aqui você pode Adicionar e Alterar e Atualizar seus Dados em nosso Sistema de maneira Bem Simples!</p>
                <a href="/informacoes" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv8">
                <img src="{% static 'midia/ata.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Relatorios</h5>
                <p class="card-text">Aqui você pode acompanhar as atas de Assembleias passadas na IBBMS!</p>
                <a href="/atas" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>
        {% else %}
            <h1></h1>
        {% endif %}
        
          
        {% if user.groups.all.0.name == 'MENBRO' %}
            <div class="card" style="width: 18rem;" id="dv2">
                <img src="{% static 'midia/dpessoa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Meus Dados</h5>
                <p class="card-text">Aqui você pode Adicionar e Alterar e Atualizar seus Dados em nosso Sistema de maneira Bem Simples!</p>
                <a href="/informacoes" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv8">
                <img src="{% static 'midia/ata.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Relatorios</h5>
                <p class="card-text">Aqui você pode acompanhar as atas de Assembleias passadas na IBBMS!</p>
                <a href="/atas" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>
        {% else %}
            <h1></h1>
        {% endif %}


        {% if user.groups.all.0.name == 'VISITANTE' %}

        {% else %}
            <h1></h1>
        {% endif %}


        {% if user.groups.all.0.name == 'DESENVOLVEDOR' %}
            <br><br><br><br>
            <div class="card" style="width: 18rem;" id="dv1">
                <img src="{% static 'midia/arquivosp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Patrimônio</h5>
                <p class="card-text">Aqui você pode ver, o total Patrimônio da IBBMS, saber a condição dos itens e fazer Observações!</p>
                <a href="/patrimonio" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv2">
                <img src="{% static 'midia/dpessoa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Meus Dados</h5>
                <p class="card-text">Aqui você pode Adicionar e Alterar e Atualizar seus Dados em nosso Sistema de maneira Bem Simples!</p>
                <a href="/informacoes" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="dv8">
                <img src="{% static 'midia/ata.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Relatorios</h5>
                <p class="card-text">Aqui você pode acompanhar as atas de Assembleias passadas, relatorios financeiros atas, os assuntos tratados e seus Resultados!</p>
                <a href="/atas" class="btn btn-primary">Vamos Lá!</a>
                </div>
            </div>
        {% else %}
            <h1></h1>
        {% endif %}



          <div class="card" style="width: 18rem;" id="dv3">
            <img src="{% static 'midia/historia.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Historia Da Igreja!</h5>
              <p class="card-text">Aqui você pode Ler a Historia da Igreja, Ver Como tudo começou em Simões Filho, Os Primeiros irmãos e Missionários!</p>
              <a href="/sobre" class="btn btn-primary">Vamos Lá!</a>
            </div>
          </div>


          <br><br><br><br><br><br><br><br>
          <main1 class="container">
            <h6><strong>Todos os direitos reservados por IBBMS</strong></h6>
        </main1>
        <br><br><br><br>
        <footer>
        <style>
            footer{
                background: rgb(94,204,85);
                background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%);
                color: white;
                padding: 10px;
                text-align: left;
                font-size: 20px;
                }
        </style>

        <br>
        <h1 style="text-align: center;"><strong>Entre em contato Conosco!</strong></h1><br>
        <ul style="display: inline-block;">   
            <strong>CONTATO</strong>                                                                                                                                                          
                <li><a href="https://forms.gle/c2KJHv4o7NpdAauCA" target="_blank"><strong>Entre em contato Conosco!</strong><br></a></li>                                                             
                <li><a href="https://forms.gle/c2KJHv4o7NpdAauCA" target="_blank"><strong>Entre Com a Administração</strong><br></a></li>
                <li><a href="https://forms.gle/c2KJHv4o7NpdAauCA" target="_blank"><strong>Tire Suas Duvidas</strong><br></a></li>
                <li><a href="https://forms.gle/c2KJHv4o7NpdAauCA" target="_blank"><strong>Faça uma Sugestão</strong><br></a></li>
        </ul>


        
        <ul style="display: inline-block;"> 
            <strong>SOBRE NOS!</strong>                                                                                                                                                        
                <li><a href="/sobre" target="_blank"><strong>Nossa Historia</strong><br></a></li>                                                             
                <li><a href="/sobre" target="_blank"><strong>Nossa Localização</strong><br></a></li>
                <li><a href="/sobre" target="_blank"><strong>Nossa Equipe</strong><br></a></li>
                <li><a href="/sobre" target="_blank"><strong>Nossos Eventos</strong><br></a></li>
        </ul>





        <ul style="display: inline-block;"> 
            <strong>REDES SOCIAIS</strong>                                                                                                                                                        
                <li><a href="https://www.facebook.com/IBBMSIAO/" target="_blank"><strong>Facebook</strong><br></a></li>                                                             
                <li><a href="https://www.youtube.com/channel/UCIjLjyNf0n7ZrDMKABYLuKw" target="_blank"><strong>Youtube</strong><br></a></li>
                <li><a href="#"><strong>Instagran</strong><br></a></li>
                <li><a href="#"><strong>Twitter</strong><br></a></li>
        </ul>

        ______________________________
        <strong style="display: inline-block; font-size: 60px;">IBBMS</strong>
        <br><br>
    </footer>


          
{% else %}

{% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    
</body>
</html>