<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
    <title>Patrimônio</title>
</head>
<body>
    <style>
        body{
            background: rgb(94,204,85);
            background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%);
            color: white;
            text-align: center;
            font-size: 20px;
        }
        main {
            background-color: white;
            width: 600px;
            heigth: 150px;
            padding: 10px;
            margin: auto;
            box-shadow: 3px 3px 5px black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            border-radius: 10px;
            color: black;
        }
        h4{
            text-align: left;
        }
    </style>
    <h1>Patrimônio Da IBBMS</h1> <a href="/"><button type="button" class="btn btn-success">Voltar</button></a>
    <br>
    <br>
    <main><img src="{% static 'midia/banco.jpg' %}" alt="banco"  align="left" width="70px"> <h2>Banco 24x Unidades</h2></main><br>
    <main><img src="{% static 'midia/lampada.jpg' %}" alt="lampada"  align="left" width="30px"> <h2>Lâmpada 15x Unidades</h2></main><br>
    <main><img src="{% static 'midia/pulpito.jpeg' %}" alt="pulpito"  align="left" width="50px"> <h2>Púlpito 2x Unidades</h2></main><br>
    <main><img src="{% static 'midia/cadeiraP.jpg' %}" alt="cadeiraP"  align="left" width="55px"> <h2>Cadeira Plastico 13x Unidades</h2></main><br>
    <main><img src="{% static 'midia/cadeiraM.jpg' %}" alt="cadeiraM"  align="left" width="30px"> <h2>Cadeira Metal 2x Unidades</h2></main><br>
    <main><img src="{% static 'midia/projetor.jpg' %}" alt="projetor"  align="left" width="55px"> <h2>Projetor 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/tela.jpg' %}" alt="tela-projetor"  align="left" width="50px"> <h2>Tela de Projeção 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/potencia.jpg' %}" alt="potencia"  align="left" width="55px"> <h2>Potencia 2x Unidades</h2></main><br>
    <main><img src="{% static 'midia/equalizador.jpg' %}" alt="equalizador"  align="left" width="100px"> <h2>Equalizador 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/mesa.jpeg' %}" alt="mesa_de_som"  align="left" width="55px"> <h2>Mesa de Som 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/berço.jpg' %}" alt="berço"  align="left" width="55px"> <h2>Berço 5x Unidades</h2></main><br>
    <main><img src="{% static 'midia/ventilador.jpeg' %}" alt="ventilador"  align="left" width="50px"> <h2>Ventilador 9x Unidades</h2></main><br>
    <main><img src="{% static 'midia/microfone.jpg' %}" alt="microfone"  align="left" width="50px"> <h2>Microfones 7x Unidades</h2></main><br>
    <main><img src="{% static 'midia/purificador.jpg' %}" alt="purificador"  align="left" width="65px"> <h2>Purificador de Água 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/refletor.jpg' %}" alt="refletor"  align="left" width="55px"> <h2>Refletor 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/mesaM.jpg' %}" alt="purificador"  align="left" width="50px"> <h2>Mesa de Madeira 2x Unidades</h2></main><br>
    <main><img src="{% static 'midia/caixa.jpg' %}" alt="caixa_de_som"  align="left" width="55px"> <h2>Caixa de Som 4x Unidades</h2></main><br>
    <main><img src="{% static 'midia/caixaap.jpg' %}" alt="caixa_de_somap"  align="left" width="53px"> <h2 style="font-size: 30px;">Caixa de Som AP 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/violao.jpg' %}" alt="violao"  align="left" width="100px"> <h2>Violão 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/baixo.jpg' %}" alt="baixo"  align="left" width="55px"> <h2>Baixo 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/computador.jpg' %}" alt="computador"  align="left" width="55px"> <h2>Computador 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/tripe.jpg' %}" alt="tripe"  align="left" width="26px"> <h2>Tripé 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/adaptador.jpg' %}" alt="adaptador"  align="left" width="55px"> <h2>Adaptador 2x Unidades</h2></main><br>
    <main><img src="{% static 'midia/tomada.jpg' %}" alt="tomada"  align="left" width="55px"> <h2>Filtro de Linha 1x Unidade</h2></main><br>
    <main><img src="{% static 'midia/cabo.jpg' %}" alt="cabo"  align="left" width="55px"> <h2>Cabo P10 3x Unidades</h2></main><br><br><br>
    <main>
        <h2>OBSERVAÇÕES</h2>
        <h3>ITENS COM NECESSIDADE DE MANUTENÇÃO</h3>
        <h4>Bancos - necessitam de reforma<br>
            Instalar novos pontos de iluminação<br>
            Potência - está dando choque<br>
            Mesa de som - com alguns canais defeituosos<br>
            2 Berços - necessitam de manutenção<br>
            Somente 7 Ventiladores funcionam, 1 necessita de reforma<br>
            1 Ventilador - deve ser trocado<br>
            Violão - Precisa de reforma
        </h4>
    </main>
    
    <h3>Qualquer duvida ou sugestão entre em contato
            com a administração do SITE<br>
            Ou os lideres do DEP. Patrimônio: Daniel e Helio
        </h3>
        

</body>
</html>