<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Meu Perfil</title>
</head>
<body>
    <style>
        #dv5{
            padding: 20px;
            margin: auto;
            display: inline-block;
        }
        body{
        background: rgb(94,204,85);
        background: linear-gradient(90deg, rgba(94,204,85,1) 0%, rgba(31,206,141,1) 0%, rgba(21,206,150,1) 15%, rgba(4,207,165,1) 27%); 
            }
        #dv6{
            width: 600px;
            display: inline-block
        }
        #dv7{
          
        }
        main {
        background-color: white;
        width: auto;
        heigth: 600px;
        margin: auto;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
        box-shadow: 6px 6px 10px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        border-radius: 15px;}

        #teste{
            background-color: white;
            width: auto;
            heigth: 600px;
            margin: auto;
            margin-left: 30px;
            margin-right: 30px;
            padding: 20px;
            box-shadow: 6px 6px 10px black;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 25px;
            border-radius: 15px;
        }
    </style>
    
    <br><br>
        <main>
            <h2 style="font-weight: bold; display: inline-block; font-size: 50px;">Sua Ficha</h2><br>
            <hr>
                <strong>
                    {% for iuser in object_list %}
                        Nome: {{ iuser.names }} <br>
                        Idade: {{ iuser.idadi }} <br>
                        Cargo: {{ iuser.ocupacao }} <br>
                        Telefone: {{ iuser.tel }}
                    {% endfor %}
                </strong>
                <hr>
                <strong>
                    <h3 style="font-weight: bold;">Clicando aqui, você poderá ver com detalhes, suas entradas financeiras na IBBMS</h3>
                    <a href="/entradas"><button type="button" class="btn btn-outline-info">Clique Aqui!</button></a>
                </strong>
        </main>
      <br><br><br>
      <br><br>
      
      <h1 style="color: white; text-align: center; font-size: 70px;">Opções</h1>
      
      <br><br><br>


    <main id="teste">
        <h2 style="font-size: 65px;">Leitura Bíblica!</h2>
        <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
            Aqui, clicando no botão abaixo voce irá para a Bíblia Online, onde podera fazer suas leituras, procurar textos com mais facilidade entre outros!
        </p>
        <a href="https://www.bibliaonline.com.br/acf/index" target="__blank"><button class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Ler A Biblia!</button></a>
        <br><br>

        <h2 style="font-size: 65px;">Ouvir Hinos!</h2><br>
        <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
            Aqui, clicando no botão abaixo voce pode escultar um Playlist completa com varias musicas que exaltam O Nome Do Senhor!
        </p>
        <audio src="{% static 'musicas.mp3' %}" controls ></audio>
        <br><br>

        <h2 style="font-size: 65px;">Letra Dos Hinos!</h2>
        <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
            Aqui, clicando no botão abaixo voce irá para o Cantor Cristão! Onde estão todas as letras dos hinos do C.C com Melodia!
        </p>
        <a href="https://www.letras.mus.br/cantor-cristao/" target="__blank"><button class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Ler A Biblia!</button></a><br><br>
        <br>
    
    
        <h2 style="font-size: 40px;">Administração</h2><br>
        
        {% if user.groups.all.0.name == 'MEMBRO' %}
        <h5>Nivel de Permissão: MENBRO</h5><br>
        <h5>Você não tem Permissões Admnistrativas Disponiveis!</h5>
        <a href="/" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Voltar</a>
        {% else %}
            <h1></h1>
        {% endif %}

        {% if user.groups.all.0.name == 'DESENVOLVEDOR' %}
            <h5>Nivel de Permissão: DESENVOLVEDOR</h5><br>
            <a href="/fichas" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Fichas</a>
            <a href="/pdf" class="btn btn-danger" style="font-family: Arial, Helvetica, sans-serif;" target="_blank">Gerar Relatorio</a>
            <a href="/dizimo" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Gerenciar Entradas</a>
            <a href="/relatorios" class="btn btn-primary" style="font-family: Arial, Helvetica, sans-serif;">Adicionar Relatorios</a>
            <a href="/admin" class="btn btn-danger" style="font-family: Arial, Helvetica, sans-serif;">Administração</a>
            <a href="/" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Voltar</a>
        {% else %}
            <h1></h1>
        {% endif %}

        {% if user.groups.all.0.name == 'DIREITORIA' %}
        <h5>Nivel de Permissão: DIREITORIA</h5><br>
            <a href="/fichas" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Fichas</a>
            <a href="/dizimo" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Gerenciar Entradas</a>
            <a href="/relatorios" class="btn btn-primary" style="font-family: Arial, Helvetica, sans-serif;">Adicionar Relatorios</a>
            <a href="/admin" class="btn btn-danger" style="font-family: Arial, Helvetica, sans-serif;">Administração</a>
            <a href="/" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Voltar</a>
        {% else %}
            <h1></h1>
        {% endif %}

        {% if user.groups.all.0.name == 'VISITANTE' %}
            <h5>Nivel de Permissão: VISITANTE</h5><br>
            <h5>Você não tem Permissões Admnistrativas Disponiveis!</h5>
            <a href="/" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Voltar</a>
        {% else %}
            <h1></h1>
        {% endif %}

        {% if user.groups.all.0.name == 'TESOUREIRA' %}
            <h5>Nivel de Permissão: TESOUREIRA</h5><br>
            <a href="/dizimo" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Gerenciar Entradas</a>
            <a href="/admin" class="btn btn-danger" style="font-family: Arial, Helvetica, sans-serif;">Administração</a>
            <a href="/pdf" class="btn btn-danger" style="font-family: Arial, Helvetica, sans-serif;" target="_blank">Gerar Relatorio</a>
            <a href="/" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Voltar</a>
        {% else %}
            <h1></h1>
        {% endif %}

        {% if user.groups.all.0.name == 'SECRETARIA' %}
            <h5>Nivel de Permissão: SECRETARIA</h5><br>
            <a href="/admin" class="btn btn-danger" style="font-family: Arial, Helvetica, sans-serif;">Administração</a>
            <a href="/relatorios" class="btn btn-primary" style="font-family: Arial, Helvetica, sans-serif;">Adicionar Relatorios</a>
            <a href="/" class="btn btn-success" style="font-family: Arial, Helvetica, sans-serif;">Voltar</a>
        {% else %}
            <h1></h1>
        {% endif %}
        <br>
    </main>

        <br><br><br><br>
        
        <h1 style="font-size: 70px; text-align: center; color: white;">.......IBBMS.......</h1>
        <br><br><br><br><br>


      